# =========================
# macOS
# =========================
.DS_Store

# =========================
# C / C++ 编译产生的文件
# =========================
*.o
*.out
*.exe
*.dSYM/

# 编译输出目录
**/output/
**/build/

# =========================
# Python 缓存
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# 临时文件
# =========================
*.tmp
*.log